{% extends "listKids/base.html" %}

{% block title %}لیست عینک های آفتابی ویژه کودکان{% endblock %}
{% block content %}
<p  >
<h1 dir="rtl", align ="right" >لیست محصولات عینک های آفتابی ویژه کودکان</h1>
{% for post in posts %}
<h2 dir="rtl", align ="right">
    <a href="{{ post.get_absolute_url }}">
        {{ post.title }}
    </a>
</h2>
<p class="date" dir="rtl", align ="right">
   به اشتراک گذاشنه شده در {{ post.publish }} توسط{{ post.user }}
</p>
<hr >
<h6 dir="rtl", align ="right">
{{ post.summary|truncatewords:50|linebreaks }}
</h6>
<hr>
<h6 dir="rtl", align ="right" >تعداد بازدید:<b><i>{{post.visits}}</i></b></h6>
</p>
{% endfor %}
{% include "pagination.html" with page=posts %}
{% endblock %}